src/main/webapp/xsd/test.xsd

<?xml version="1.0"?>

<xs:schema id="test"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:pro="http://www.projectizer.com/test"
  targetNamespace="http://www.projectizer.com/test"
  elementFormDefault="qualified">
  
  
  <xs:complexType name="_human">
    <xs:attribute name="name" type="xs:string" use="required"/>
    <xs:attribute name="age" type="xs:string" use="required"/>
  </xs:complexType>
    
  <xs:element name="test">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="human" type="pro:_human" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
